/* 전체 페이지 스타일 */
.policyPage {
  width: 100%;
  background-color: #ffffff;
  font-family: 'Pretendard', sans-serif;
}

/* 메인 콘텐츠 */
.mainContent {
  padding: 10px 20px 100px 20px;
}

/* 반응형 디자인 */
@media (max-width: 375px) {
  .policyPage {
    width: 100%;
  }
}

.page {
  padding: 20px 0;
}
