.page {
  margin-top: 2rem;
}
.container {
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: center;
}
.title-box {
  margin-top: 3.5rem;
}
.title-box h2 {
  margin-top: 2rem;
  font-size: 30px;
  font-weight: bold;
  color: navy;
  line-height: 2.3rem;
}
.title-box p {
  margin-top: 2rem;
  font-size: 16px;
  color: #666;
  line-height: 150%;
}
.title-box img {
  margin-top: 1.5rem;
  width: 160px;
  height: 160px;
}
