.page {
  margin-top: 2rem;
}
.container {
  margin-top: 1rem;
  padding: 0 0.5rem;
  text-align: center;
}
.title-box {
  margin: 0 1rem 1rem 1rem;
}
.title-box-main {
  font-size: 30px;
  font-weight: bold;
  color: navy;
  line-height: 2.3rem;
}
.title-box-sub {
  margin-top: 1rem;
  font-size: 14px;
  color: #666;
  line-height: 150%;
}
.loanList {
  margin: 0 0.8rem 2rem 1rem;
  height: 290px;
  overflow-x: auto;

  padding-top: 10px;
  padding-left: 4px;
  padding-right: 14px;

  box-sizing: content-box;

  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

/* 크롬용 */
.loanList::-webkit-scrollbar {
  width: 6px;
}
.loanList::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.loanList::-webkit-scrollbar-track {
  background: transparent;
}
.addBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 30px;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  box-shadow: 0 2px 4px rgba(0, 44, 75, 0.15);
  border: 3px solid #b3b3b3;
  border-radius: 16px;
  transition: all 0.2s;
}
.addBox img {
  width: 28px;
  height: 28px;
}
.next-button {
  width: calc(100% - 2rem); /* 좌우 여백 1rem씩 고려 */
  height: 48px;
  padding: 14px;
  background-color: #00497a;
  color: #fff;
  border: none;
  border-radius: 14px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
