.description {
  font-size: 15px;
  margin-bottom: 24px;
  text-align: center;
}

.input-wrapper {
  position: relative;
  margin-bottom: 24px;
}

.input-wrapper input {
  width: 100%;
  font-size: 16px;
  padding: 8px 32px 8px 8px;
  border: none;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.input-wrapper input:focus {
  outline: none;
}

.char-count {
  position: absolute;
  right: 8px;
  bottom: -20px;
  font-size: 12px;
  color: #aaa;
  line-height: 1;
}

.custom-footer {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 375px;
  background: var(--color-gray4);
  padding: 0 16px;
  box-sizing: border-box;
  transition: background-color 0.3s;
  z-index: 1100;
}

.custom-footer.active {
  background: var(--color-main);
}

.custom-footer button {
  width: 100%;
  padding: 16px;
  border: none;
  font-size: 16px;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.custom-footer button:disabled {
  cursor: not-allowed;
}

.clear-btn {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s;
}

.clear-btn:hover {
  color: #333;
}
