.calendarContainer {
  position: relative;
  background-color: transparent;
}

.weekdaysHeader {
  display: grid;
  height: 45px;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
  z-index: 1;
}

.weekday {
  padding: 4px 8px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #666;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
  z-index: 1;
}
