.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  background: #f5f6f8;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 283px; /* 원하는 고정 너비 */
  min-height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 16px; /* 요소 사이 간격 */
}
.popup-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.withdraw-button {
  background-color: var(--color-main);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  width: 100%;
}
.withdraw-button.disabled {
  background-color: var(--color-gray0);
  cursor: not-allowed;
}
.pwinput {
  width: 100%; /* 부모 너비 맞춤 */
  height: 40px; /* 적절한 높이 */
  padding: 12px 12px; /* 적당한 패딩 */
  box-sizing: border-box;
  border: 1.5px solid var(--color-gray0);
  border-radius: 6px;
  background: transparent;
}

/* 포커스 시 테두리 색상 변경 (선택 사항) */
.pwinput:focus {
  border-color: var(--color-main);
  background: transparent;
}

.btn-cancel {
  background: transparent;
  color: var(--color-gray0);
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--color-gray0);
  cursor: pointer;
}

.btn-cancel:hover {
  background: var(--color-gray0);
  color: white;
}
