/* 색상 변수 정의 */
:root {
  /* 메인 색상 */
  --color-main: #003e65;
  --color-secondary: #4e6073;
  --color-third: #4e6073;

  /* 라이트 색상 */
  --color-light1: #98cbfd;
  --color-light2: #d1e4fb;
  --color-accent: #d8e5e8;

  /* 그레이 색상 */
  --color-gray0: #6f797a;
  --color-gray-unnamed: #b0b1b3;
  --color-gray1: #e1e2e6;
  --color-gray2: #edeef2;
  --color-gray3: #f3f3f7;
  --color-gray4: #c1c7d0;
  --color-gray5: #41474f;

  /* 블랙 */
  --color-black: #191c1f;

  /* 브랜드 색상 */
  --color-naver: #03c75a;
  --color-red: #dc2121;
  --color-red2: #8b0000;

  /* 폰트 패밀리 */
  --font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;

  /* 폰트 사이즈 */
  --font-size-base: 20px;

  /* 라인 높이 */
  --line-height-base: 1.4;

  /* 레터 스페이싱 */
  --letter-spacing-negative: -0.25px;
  --letter-spacing-none: 0px;
}
