<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cheongsan.domain.debt.mapper.DebtMapper">

    <!-- 총 대출 항목 조회-->
    <select id="getUserDebtList" parameterType="long" resultType="cheongsan.domain.debt.dto.response.DebtInfoDTO">
        SELECT da.id                AS debtId,
               da.debt_name         AS debtName,
               fi.organization_name AS organizationName,
               da.current_balance   AS currentBalance,
               da.original_amount   AS originalAmount,
               da.interest_rate     AS interestRate,
               da.loan_start_date   AS loanStartDate
        FROM mountain_db.debt_accounts da
                 JOIN mountain_db.financial_institutions fi ON da.organization_code = fi.organization_code
        WHERE da.user_id = #{userId}
    </select>

    <!-- 대출별 상세 조회-->
    <select id="getLoanDetail" parameterType="long" resultType="cheongsan.domain.debt.dto.response.DebtDetailDTO">
        SELECT da.debt_name           AS debtName,
               fi.organization_name   AS organizationName,
               da.original_amount     AS originalAmount,
               da.interest_rate       AS interestRate,
               da.loan_start_date     AS loanStartDate,
               da.current_balance     AS currentBalance,
               da.grace_period_months AS gracePeriodMonths,
               da.repayment_method    AS repaymentMethod
        FROM mountain_db.debt_accounts da
                 JOIN mountain_db.financial_institutions fi ON da.organization_code = fi.organization_code
        WHERE da.id = #{loanId}
    </select>

    <insert id="insertDebt" parameterType="cheongsan.domain.debt.entity.DebtAccount">
        INSERT INTO debt_accounts (user_id, organization_code, res_account, debt_name, current_balance,
                                   original_amount, interest_rate, loan_start_date, loan_end_date, next_payment_date,
                                   grace_period_months, repayment_method, created_at, updated_at)
        VALUES (#{userId}, #{organizationCode}, #{resAccount}, #{debtName}, #{currentBalance},
                #{originalAmount}, #{interestRate}, #{loanStartDate}, #{loanEndDate}, #{nextPaymentDate},
                #{gracePeriodMonths}, #{repaymentMethod}, #{createdAt}, #{updatedAt})
    </insert>


    <!-- 추가할 대출 계좌 중복 확인 -->
    <select id="isDebtAccountExists" resultType="boolean" parameterType="map">
        SELECT EXISTS (SELECT 1
                       FROM debt_accounts
                       WHERE user_id = #{userId}
                         AND res_account = #{resAccount})
    </select>

</mapper>


