<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cheongsan.domain.simulator.repository.LoanProductRepository">

    <select id="findRecommendedLoans" resultType="cheongsan.domain.simulator.dto.LoanProductDTO">
    <![CDATA[
        SELECT finPrdNm AS productName,
               hdlInst  AS institutionName,
               irt      AS interestRate,
               lnLmt    AS loanLimit,
               rltSite  AS siteUrl
            dsrCheck
        FROM low_income_financial_products
        WHERE CAST(lnLmt AS DECIMAL) >= #{principal}
        ORDER BY CAST(irt AS DECIMAL) DESC LIMIT 10
        ]]>
</select>
</mapper>
