<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cheongsan.domain.simulator.repository.LoanProductRepository">

    <select id="findRecommendedLoans" resultType="cheongsan.domain.simulator.dto.LoanProductDTO">
    <![CDATA[
        SELECT hdlInst, finPrdNm, irt, lnLmt, rltSite
        FROM low_income_financial_products
        WHERE dsrCheck = 'N'
          AND CAST(lnLmt AS DECIMAL) >= #{principal}
          AND #{userDsr} <= #{dsrLimit}
        ORDER BY CAST(irt AS DECIMAL) ASC LIMIT 10
        ]]>
</select>

</mapper>
