.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  height: 80%;
  width: 90%;
  max-width: 340px;
  margin: 0 auto;
  border: 2px solid #004b6e;
}
.title {
  font-size: 20px;
  font-weight: bold;
  color: #004b6e;
}

.institution {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #555;
}

.icon {
  margin-right: 8px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form-row img {
  width: 10px;
  height: 10px;
}
.form-row {
  display: flex;
  align-items: center;
  margin: -6px 0;
}
.form-label {
  width: 60px;
  text-align: left;
  margin-left: 1rem;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 1rem;
  font-size: 15px;
  flex-shrink: 0;
}
.title-label {
  width: 55px;
  text-align: left;
  margin-left: 1rem;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 1rem;
  font-size: 20px;
  flex-shrink: 0;
}
.sub-label {
  width: 70px;
  text-align: left;
  margin-left: 1rem;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 1rem;
  font-size: 16px;
  flex-shrink: 0;
}

.form-control {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  flex: 1;
}

.text-input {
  margin-left: 6px;
  width: 60px;
  border: none;
  border-bottom: 1px solid #333;
  text-align: center;
  font-size: 15px;
  background: transparent;
}
label {
  width: fit-content;
  font-size: 14px;
}

input,
select {
  border: none;
  border-bottom: 1px solid #999;
  padding: 4px;
  flex: 1;
  outline: none;
  font-size: 14px;
}

.year-input {
  width: 45px;
  text-align: right;
}
.date-input {
  width: 16px;
  text-align: right;
}

.submit-btn {
  background: white;
  color: #004b6e;
  padding: 8px 0;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #004b6e;
  color: white;
}
