.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-main);
}

.agreementsList {
  display: flex;
  flex-direction: column;
}

.agreementItem {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.checkboxIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.agreementText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--color-main);
  user-select: none;
}
